html, body{
  font-family: 'Lato', sans-serif;
  color: #626067;
  overflow-x: hidden;
  margin: 0px;
	padding: 0px;
}
.navbar{
  padding: 0 8%;
}
.navbar-brand{
  margin-top: 7%;
}
.navbar-collapse>.navbar-nav:first-child li{
  margin: 0 5%;
}
.nav-link:hover{
  border: 1px solid #f6433b;
  border-radius: 5px;
}
.navbar-social{
  margin-right: 2%;
}
.navbar-social li{
  margin: 0 30%;
  font-size: 1.5em;
}
.navbar-expand-lg{
  background-image: url(../assets/img/texture-navbar.png);
  height: 120px;
  border-bottom: 3px solid #f6433b;
}
.color-fb{
  color: #3b5998;
}
.color-twitter{
  color: #00aced;
}
.color-pinterest{
  color: #C92228;
}
 .color-yellow{
   background: #d9c26c;
 }
.margin-top{
  margin-top: 5%;
}
.subtitle{
  font-weight: lighter;
}
.text-white{
  color: white;
}
.padding-5{
  padding: 3.5%;
}
.size-logo-s{
  width: 55%;
}
.size-icon-s{
  width: 8%;
}

/*SECTION SLIDER*/
.carousel-indicators>li {
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, .5);
  cursor: pointer;
}
.carousel-indicators>.active, .color-red{
  background: #f6433b;
}
.icon-slider>ul{
  list-style: none;
  cursor: pointer;
}
.carousel-caption{
  top: 30%;
}
.carousel-caption h1{
  font-weight: lighter;
  margin-bottom: 3%;
}
.icon-slider li{
  margin: 15% 0;
}
.carousel-caption .btn-danger{
  padding: 2%;
  margin-top: 3%;
  border-radius: 20px;
  font-size: 1em;
  width: 250px;
  background: #f6433b;
  cursor: pointer;
}
.product{
  padding: 0 2%;
}
.info-recipe>span{
  margin-right: 2%;
}
.info-recipe>span>img{
  vertical-align: sub;
}
.size-product{
  width: 50%;
}
.lead {
	font-size: .8rem;
  color: gray;
  margin-top: 3%;
}
.jumbotron {
  background:#f8f8f8;
  width: 130px;
	display: inline-block;
  padding: 1%;
  box-shadow: inset 0 0 10px 0 lightgray;
}
.jumbotron:hover {
	border: 1px solid #f6433b;
	width: 160px;
}
#recipe{
  background-image: url(../assets/img/fondo-recetas.png);
  height: 100vh;
  padding: 5%;
}
#recipe .btns button{
  margin:.5%;
}
.fa-envelope{
	color: #d9c26c;
}
button.btn.btn-secondary {
    background-color: white;
    border: none;
}
.btn-suscribete{
  width: 200px;
}
 .contact_section{
   padding: 0 12%;
 }
 .contact_section ul{
   margin: 2% 0;
   padding-left: 0;
 }
 .contact_section h6{
   margin-bottom: 12%;
 }
 .contact_section li {
	list-style: none;
	margin-bottom: 6%;
	color: lightgray;
}
.product{
  margin-top: 3%;
}
.contact li {
 margin-bottom: 0;
}
.card{
  font-family: 'Roboto Mono', monospace;
  font-weight: lighter;
  font-size: .9rem;
  padding: .5%;
  background: #fbfaf6;
}
.card-body{
  padding: 10% 2% 0 2%;
}
.icon-img{
  top: 58%;
  left: 40%;
  position: absolute;
}

/*MEDIA*/
@media (max-width: 1125px){
  .navbar-social li{
    margin: 0 20%;
    font-size: 1.2em;
  }
  .navbar-collapse>.navbar-nav:first-child li{
    margin: 0 3%;
  }
}
@media (max-width: 991px){
  .navbar-brand{
    margin:auto;
    padding-top: 5%;
  }
  .navbar-toggler{
    margin-top: 0;
  }
  .carousel-caption{
    top: 15%;
  }
}
@media (max-width: 659px){
  .carousel-caption{
    top: 7%;
  }
}
@media (max-width: 375px){
  .navbar-brand{
    margin:0 2%;
  }
  .size-logo{
    width:70%;
  }
}
